body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f3f4f6;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #111827;
}

.users-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}